.code-name-container{
    display: block;
    width: 300px;
    margin: auto;
}
.coder-name{
    color: #5C5C5C;
}
.table-container{
    display: block;
    width: 300px;
    margin: auto;
}

table{
    border: black 1px solid;
}

td{
    padding: 10px;
    border: black 1px solid;
    color: #5C5C5C;
}